.velika-slika
  = img "full/cepi_zamaski.jpg"
.slike
  = img "thumbs/cepi_zamaski.jpg", :class => 'current'
  = img "thumbs/cev_za_pretakanje_vina.jpg"
  = img "thumbs/kozarci_za_vino_instrumenti_za_meritve.jpg"
  = img "thumbs/stekleni_kozarci.jpg"
  = img "thumbs/stekleni_kozarci_steklenice.jpg"
  = img "thumbs/steklenice.jpg"
  = img "thumbs/enoloska-sredstva.jpg"
  = img "thumbs/enoloska-sredstva1.jpg"
  = img "thumbs/enoloska-sredstva2.jpg"
  = img "thumbs/enoloska-sredstva4.jpg"
  = img "thumbs/enoloska-sredstva3.jpg"
