!!!
%html(lang="en")
  %head
    = partial('shared/head')

  %body{ :class => body_class }

    #page

      #header
        %h1
          =link 'Enomarket', '/'
      = partial('shared/nav')
      
      #content
        = partial('shared/schedule')
        = yield
      #footer
        = partial('shared/contact')

    = javascripts 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'ga1', 'ga2', 'application'