!!!
%html(lang="it")
  %head
    = partial('it/shared/head')

  %body{ :class => body_class }

    #page

      #header
        %h1
          =link 'Enomarket - Enologico significa analisi del vino', '/it'
      = partial('shared/lang')
      = partial('it/shared/nav')
      
      #content
        = partial('it/shared/schedule')
        = partial('it/shared/links')
        = yield
      #footer
        = partial('it/shared/contact')

    = javascripts 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'ga1', 'ga2', 'application'